<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xirm.minio.mapper.MachineDeviceMapper">

  <resultMap id="SimpleResultMap" type="com.xirm.minio.domain.bean.SimpleMachineDevice">
    <!--@mbg.generated-->
    <!--@Table machine_device-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="workshop_name" jdbcType="VARCHAR" property="workshopName" />
    <result column="full_device_name" jdbcType="VARCHAR" property="fullDeviceName" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    <!--@Table machine_device-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_no" jdbcType="VARCHAR" property="deviceNo" />
    <result column="device_type_id" jdbcType="BIGINT" property="deviceTypeId" />
    <result column="machine_id" jdbcType="BIGINT" property="machineId" />
    <result column="metadata" jdbcType="VARCHAR" property="metadata" />
    <result column="parent_device_id" jdbcType="BIGINT" property="parentDeviceId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="alarm_level" jdbcType="VARCHAR" property="alarmLevel" />
    <result column="fault_level" jdbcType="VARCHAR" property="faultLevel" />
    <result column="warning_level" jdbcType="VARCHAR" property="warningLevel" />
    <result column="status_update_at" jdbcType="BIGINT" property="statusUpdateAt" />
  </resultMap>




  <select id="selectMachineDeviceIds" resultMap="SimpleResultMap">
    SELECT
            '龙源电力集团' as project_name,
            h3.`name` as factory_name,
            h2.name as workshop_name,
            md.device_id AS device_id,
            CONCAT(h3.name,'_',h3.id,'_',h2.name,'_',h2.id,'_',h1.name,'_',h1.id,'_','',md.device_name,'_',md.device_id,'_51200__',md.device_id)   AS full_device_name
    FROM machine_device md
                 LEFT JOIN hierarchy h1 on h1.id=md.machine_id
                 LEFT JOIN hierarchy h2 on h2.id=h1.parent_hierarchy_entity_id
                 LEFT JOIN hierarchy h3 on h3.id=h2.parent_hierarchy_entity_id
                 LEFT JOIN hierarchy h4 on h4.id=h3.parent_hierarchy_entity_id
                 LEFT JOIN device_type dt  ON dt.id=md.device_type_id
    WHERE h1.type='MACHINE'
      AND h2.`type` ='WORKSHOP'
      AND h3.`type` ='FACTORY'
      AND h4.`type` ='PROJECT'
      AND h2.deleted=0
      AND h3.deleted=0
      AND h4.deleted=0
      ANd dt.category=3
  </select>

</mapper>
