<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xirm.minio.mapper.MachineDeviceMapper">
  <resultMap id="BaseResultMap" type="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    <!--@Table machine_device-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_no" jdbcType="VARCHAR" property="deviceNo" />
    <result column="device_type_id" jdbcType="BIGINT" property="deviceTypeId" />
    <result column="machine_id" jdbcType="BIGINT" property="machineId" />
    <result column="metadata" jdbcType="VARCHAR" property="metadata" />
    <result column="parent_device_id" jdbcType="BIGINT" property="parentDeviceId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="alarm_level" jdbcType="VARCHAR" property="alarmLevel" />
    <result column="fault_level" jdbcType="VARCHAR" property="faultLevel" />
    <result column="warning_level" jdbcType="VARCHAR" property="warningLevel" />
    <result column="status_update_at" jdbcType="BIGINT" property="statusUpdateAt" />
  </resultMap>

  <resultMap id="SimpleResultMap" type="com.xirm.minio.domain.bean.SimpleMachineDevice">
    <!--@mbg.generated-->
    <!--@Table machine_device-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="full_device_name" jdbcType="VARCHAR" property="fullDeviceName" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_id, created_at, updated_at, device_name, device_no, device_type_id, machine_id,
    metadata, parent_device_id, reason, `status`, alarm_level, fault_level, warning_level,
    status_update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from machine_device
    where device_id = #{deviceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from machine_device
    where device_id = #{deviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    insert into machine_device (device_id, created_at, updated_at,
      device_name, device_no, device_type_id,
      machine_id, metadata, parent_device_id,
      reason, `status`, alarm_level,
      fault_level, warning_level, status_update_at
      )
    values (#{deviceId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
      #{deviceName,jdbcType=VARCHAR}, #{deviceNo,jdbcType=VARCHAR}, #{deviceTypeId,jdbcType=BIGINT},
      #{machineId,jdbcType=BIGINT}, #{metadata,jdbcType=VARCHAR}, #{parentDeviceId,jdbcType=BIGINT},
      #{reason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{alarmLevel,jdbcType=VARCHAR},
      #{faultLevel,jdbcType=VARCHAR}, #{warningLevel,jdbcType=VARCHAR}, #{statusUpdateAt,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    insert into machine_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceNo != null">
        device_no,
      </if>
      <if test="deviceTypeId != null">
        device_type_id,
      </if>
      <if test="machineId != null">
        machine_id,
      </if>
      <if test="metadata != null">
        metadata,
      </if>
      <if test="parentDeviceId != null">
        parent_device_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="alarmLevel != null">
        alarm_level,
      </if>
      <if test="faultLevel != null">
        fault_level,
      </if>
      <if test="warningLevel != null">
        warning_level,
      </if>
      <if test="statusUpdateAt != null">
        status_update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null">
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeId != null">
        #{deviceTypeId,jdbcType=BIGINT},
      </if>
      <if test="machineId != null">
        #{machineId,jdbcType=BIGINT},
      </if>
      <if test="metadata != null">
        #{metadata,jdbcType=VARCHAR},
      </if>
      <if test="parentDeviceId != null">
        #{parentDeviceId,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null">
        #{alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="faultLevel != null">
        #{faultLevel,jdbcType=VARCHAR},
      </if>
      <if test="warningLevel != null">
        #{warningLevel,jdbcType=VARCHAR},
      </if>
      <if test="statusUpdateAt != null">
        #{statusUpdateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    update machine_device
    <set>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null">
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeId != null">
        device_type_id = #{deviceTypeId,jdbcType=BIGINT},
      </if>
      <if test="machineId != null">
        machine_id = #{machineId,jdbcType=BIGINT},
      </if>
      <if test="metadata != null">
        metadata = #{metadata,jdbcType=VARCHAR},
      </if>
      <if test="parentDeviceId != null">
        parent_device_id = #{parentDeviceId,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null">
        alarm_level = #{alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="faultLevel != null">
        fault_level = #{faultLevel,jdbcType=VARCHAR},
      </if>
      <if test="warningLevel != null">
        warning_level = #{warningLevel,jdbcType=VARCHAR},
      </if>
      <if test="statusUpdateAt != null">
        status_update_at = #{statusUpdateAt,jdbcType=BIGINT},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xirm.minio.domain.bean.MachineDevice">
    <!--@mbg.generated-->
    update machine_device
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_no = #{deviceNo,jdbcType=VARCHAR},
      device_type_id = #{deviceTypeId,jdbcType=BIGINT},
      machine_id = #{machineId,jdbcType=BIGINT},
      metadata = #{metadata,jdbcType=VARCHAR},
      parent_device_id = #{parentDeviceId,jdbcType=BIGINT},
      reason = #{reason,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      alarm_level = #{alarmLevel,jdbcType=VARCHAR},
      fault_level = #{faultLevel,jdbcType=VARCHAR},
      warning_level = #{warningLevel,jdbcType=VARCHAR},
      status_update_at = #{statusUpdateAt,jdbcType=BIGINT}
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>

  <select id="selectMachineDeviceIds" resultMap="SimpleResultMap">
     SELECT
            md.device_id AS device_id,
            CONCAT(h3.name,'_',h2.name,'-',h1.name,'_','',md.device_name,'_51200_',md.device_id)  AS full_device_name
     FROM machine_device md
     LEFT JOIN hierarchy h1 on h1.id=md.machine_id
     LEFT JOIN hierarchy h2 on h2.id=h1.parent_hierarchy_entity_id
     LEFT JOIN hierarchy h3 on h3.id=h2.parent_hierarchy_entity_id
     LEFT JOIN hierarchy h4 on h4.id=h3.parent_hierarchy_entity_id
     LEFT JOIN device_type dt  ON dt.id=md.device_type_id
     WHERE h1.type='MACHINE'
        AND h2.`type` ='WORKSHOP'
        AND h3.`type` ='FACTORY'
        AND h4.`type` ='PROJECT'
        AND h2.deleted=0
        AND h3.deleted=0
        AND h4.deleted=0
        ANd dt.category=3
  </select>
</mapper>
